<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Animal Routes</title>
</head>
<body>
	<h1>Welcome to Animal Routes</h1>

	<p>Refactor the routes in app.js using the Express Router. Once you have done this correctly all of the links below should continue to work without errors.</p>

	<h3>Snakes</h3>
	<p><a href="/snakes/hiss"/>/snakes/hiss</a></p>
	<p><a href="/snakes/move"/>/snakes/move</a></p>
	<p><a href="/snakes/eat"/>/snakes/eat</a></p>
	<p><a href="/snakes/talk"/>/snakes/move</a></p>

	<h3>Foxes</h3>
	<p><a href="/foxes/talk">/foxes/talk</a></p>
	<p><a href="/foxes/eat">/foxes/eat</a></p>
	<p><a href="/foxes/look-majestic">/foxes/look-majestic</a></p>
	<p><a href="/foxes/jump">/foxes/jump</a></p>

	<h3>Lions</h3>
	<p><a href="/lions/roar">/lions/roar</a></p>
	<p><a href="/lions/play">/lions/play</a></p>
	<p><a href="/lions/laugh">/lions/laugh</a></p>
	<p><a href="/lions/celebrate">/lions/celebrate</a></p>

	<h3>Monkeys</h3>
	<p><a href="/monkeys/play">/monkeys/play</a></p>
	<p><a href="/monkeys/steal">/monkeys/steal</a></p>
	<p><a href="/monkeys/skateboard">/monkeys/skateboard</a></p>
	<p><a href="/monkeys/hug">/monkeys/hug</a></p>

	<h3>Badgers</h3>
	<p><a href="/badgers/squat">/badgers/squat</a></p>
	<p><a href="/badgers/flee">/badgers/flee</a></p>
	<p><a href="/badgers/protect">/badgers/protect</a></p>
	<p><a href="/badgers/pixel-art">/badgers/pixel-art</a></p>

</body>
</html>
